<div class="text-center">
    <h1 class="display-4">Welcome to Our Hospital </h1>
    <p>Thank you for choosing our hospital for your healthcare needs. </p>
    <p>Here, we strive to provide the highest quality medical care to our patients. </p>
    <p>Learn more about services and specialties. </p>
    <table class="table table-hover border">
        <tr>
            <td scope="col">Internal medical</td>
        </tr>
        <tr>
            <td scope="col">Pediatrics </td>
        </tr>
        <tr>
            <td scope="col">Surgery</td>
        </tr>
    </table>
    <p>If you have any questions or need assistance, please don't hesitate to contact us . </p>
</div>
