<div class="card">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Complete Appointment with @Model.Name</h4>
    </div>
    <div class="card-body">
        <form action="/BookAppointment/SendData" id="appointmentForm">
            <input type="hidden" name="DoctorId" value="@Model.Id" />
            <div class="mb-3">
                <label for="patientName" class="form-label">Patient Name</label>
                <input type="text" class="form-control" id="patientName" name="Name" placeholder="Enter patient name" required>
            </div>
            <div class="mb-3">
                <label for="appointmentDate" class="form-label">Appointment Date</label>
                <input type="date" class="form-control" id="appointmentDate" name="AppointmentDate" required>
            </div>
            <div class="mb-3">
                <label for="appointmentTime" class="form-label">Appointment Time</label>
                <input type="time" class="form-control" id="appointmentTime" name="AppointmentTime" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@* // Show Modal Without JS *@
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> *@
@*     <div class="modal-dialog"> *@
@*         <div class="modal-content"> *@
@*             <div class="modal-header"> *@
@*                 <h5 class="modal-title" id="exampleModalLabel">Appointment Completed</h5> *@
@*                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
@*              </div> *@
@*              <div class="modal-body"> *@
@*                  Your appointment has been successfully scheduled.  *@
@*              </div>  *@
@*              <div class="modal-footer"> *@
@*                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  *@
@*              </div> *@
@*          </div> *@
@*      </div> *@
@* </div> *@