<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start organizing your tasks and stay productive.</p>
    <p>Get started by creating your first to-do item.</p>
    <a href="/Home/SetName" class="btn btn-primary">Create New To-Do Item</a>
</div>
