@model ToDoList

<h2 class="mb-4">Task Edit Form</h2>
<form action="/ToDoList/Edit" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="Title" placeholder="Enter title" value="@Model.Title" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="Description" rows="4" placeholder="Enter description" required>@Model.Description</textarea>
    </div>
    <div class="mb-3">
        <label for="deadline" class="form-label">Deadline Date</label>
        <input type="datetime-local" class="form-control" id="deadline" name="Deadline" value="@Model.Deadline.ToString("yyyy-MM-ddTHH:mm")" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
